[Unit]
Description=Manages subprocesses independently from a multithreaded program.
After=syslog.target
Wants=syslog.target

[Service]
Environment=OCAMLRUNPARAM=b
EnvironmentFile=-/etc/sysconfig/forkexecd
ExecStart=/usr/sbin/forkexecd $FORKEXECD_OPTIONS

[Install]
WantedBy=multi-user.target
