[Unit]
Description=Xapi toolstack store and forward message switch

[Service]
Environment=OCAMLRUNPARAM=b
EnvironmentFile=-/etc/sysconfig/message-switch
RuntimeDirectory=message-switch
ExecStart=/usr/sbin/message-switch --path /run/message-switch/sock --statedir /run/message-switch $MESSAGE_SWITCH_OPTIONS

[Install]
WantedBy=multi-user.target
