[Unit]
Description=XCP networking daemon
Documentation=man:xcp-networkd(1)
After=network-online.target forkexecd.service message-switch.service syslog.target
Wants=network-online.target forkexecd.service message-switch.service syslog.target

[Service]
Environment=OCAMLRUNPARAM=b
EnvironmentFile=-/etc/sysconfig/xcp-networkd
ExecStart=/usr/sbin/xcp-networkd $XCP_NETWORKD_OPTIONS

[Install]
WantedBy=multi-user.target
