[Unit]
Description=XCP RRD daemon
After=forkexecd.service xenstored.socket message-switch.service syslog.target
Wants=forkexecd.service xenstored.socket message-switch.service syslog.target

[Service]
Environment=OCAMLRUNPARAM=b
EnvironmentFile=-/etc/sysconfig/xcp-rrdd
ExecStart=/usr/sbin/xcp-rrdd $XCP_RRDD_OPTIONS

[Install]
WantedBy=multi-user.target
