[Unit]
Description=VM manager for Xen using libxc
Documentation=man:xenopsd-xc(1)
After=network-online.target message-switch.service forkexecd.service xapi-storage-script.service
Wants=network-online.target message-switch.service forkexecd.service xapi-storage-script.service

[Service]
EnvironmentFile=-/etc/sysconfig/xenopsd
ExecStart=/usr/sbin/xenopsd-xc --config /etc/xenopsd.conf $XENOPSD_OPTIONS

[Install]
WantedBy=multi-user.target
