[Unit]
Description=VM manager for Xen using libxenlight
Documentation=man:xenopsd-xenlight(1)
After=xenstored.service squeezed.service message-switch.service xapi-storage-script.service syslog.target
Wants=xenstored.service squeezed.service message-switch.service xapi-storage-script.service syslog.target

[Service]
EnvironmentFile=-/etc/sysconfig/xenopsd
ExecStart=/usr/sbin/xenopsd-xenlight --config /etc/xenopsd.conf $XENOPSD_XENLIGHT_OPTIONS
StandardError=null

[Install]
WantedBy=multi-user.target
